<div id="app-admin-panel-offer-module-code-component">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Коди пропозиції"
      [showTotal]="initialized && collapseContent"
      [total]="filterCode.total">

      <div class="btn-group">

<!--        <button class="btn btn-sm btn-info">-->
<!--          Імортувати коди-->
<!--        </button>-->

        <button class="btn btn-sm btn-primary" (click)="initCodeFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
          <i class="fas fa-plus-circle"></i>
        </button>

      </div>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">


      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">

        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100">
            Пошук
            <input placeholder="Пошук по коду" class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="offerService.filterCode.search" name="search">
          </label>
        </div>

        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="offerService.filterCode.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="offerService.filterCode.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ offerService.filterCode.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="offerService.filterCode.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="offerService.filterCode.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of offerService.filterCode.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== offerService.filterCode.actualPage"
                  [class.btn-primary]="page === offerService.filterCode.actualPage"
                  (click)="offerService.filterCode.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="offerService.filterCode.actualPage === offerService.filterCode.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="offerService.filterCode.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">

        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Код</th>
            <th>Статус</th>
            <th>Дата створення</th>
            <th>Останє оновлення</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let code of codes; let index = index">
            <td>
              {{ code.code }}
            </td>
            <td>
              <span class="badge {{ code.status === 2 ? 'badge-success' : code.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                <i title="{{ getStatusName(code.status) }}" *ngIf="code.status === 2" class="fas fa-check-circle"></i>
                <i title="{{ getStatusName(code.status) }}" *ngIf="code.status === 1" class="fas fa-clock"></i>
                <i title="{{ getStatusName(code.status) }}" *ngIf="code.status === 0" class="fas fa-lock"></i>
                {{ getStatusName(code.status) }}
              </span>
            </td>
            <td>
              {{ code.createdAt }}
            </td>
            <td>
              {{ code.updatedAt }}
            </td>
            <td>
              <ng-container *ngIf="code.status === 1; else codeStatus2">

                <button class="btn btn-sm btn-success" (click)="changeStatus(2, code)">Активувати</button>

              </ng-container>
              <ng-template #codeStatus2>

                <button class="btn btn-sm btn-secondary" (click)="changeStatus(1, code)">Деактивувати</button>

              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let code of codes; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    Код: {{ code.code }}
                  </h4>
                  <div class="card-text">

                    <div>
                      <strong>Статус: </strong>
                      {{ getStatusName(code.status) }}
                    </div>
                    <div>
                      <strong>Дата створення: </strong>
                      {{ code.createdAt }}
                    </div>
                    <div>
                      <strong>Дата оновлення: </strong>
                      {{ code.updatedAt }}
                    </div>
                    <div>
                      <ng-container *ngIf="code.status === 1; else codeStatus2">

                        <button class="btn btn-sm btn-success" (click)="changeStatus(2, code)">Активувати</button>

                      </ng-container>
                      <ng-template #codeStatus2>

                        <button class="btn btn-sm btn-secondary" (click)="changeStatus(1, code)">Деактивувати</button>

                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>

      <small class="text-muted">
        * Для кодів потрібно додавати префікс, бо якщо код вже був створений, то його просто не додасть.
      </small>

    </div>
  </div>

  <ng-container *ngIf="addCodeFormGroup !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Додавання коду
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="addCodeFormGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="code-form-code">
                    Код:

                    <ng-container
                      *ngIf="addCodeFormGroup.controls['code'].invalid && (addCodeFormGroup.controls['code'].dirty || addCodeFormGroup.controls['code'].touched)">

                      <small class="text-danger" *ngIf="addCodeFormGroup.controls['code'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="code-form-code" name="code" type="text" formControlName="code" placeholder="SALO_SALE">


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="code-form-status">
                    Статус:

                    <ng-container
                      *ngIf="addCodeFormGroup.controls['status'].invalid && (addCodeFormGroup.controls['status'].dirty || addCodeFormGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="addCodeFormGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select class="form-control" name="type" id="code-form-status" formControlName="status">
                    <option [ngValue]="1">Неопублікований</option>
                    <option [ngValue]="2">Опублікований</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

            </form>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="saveCode()">Додати</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>
