<ng-container *ngIf="!!users">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">

    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      [title]="adminService.titlePage"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">

      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-3 pr-0">

          <div class="form-group">

            <label class="w-100" for="search">Пошук

              <div class="input-group">
                <input (keydown.enter)="doFiltering()" type="text"
                       [(ngModel)]="filter.search" id="search" name="search"
                       placeholder="Що будемо шукати?" class="form-control form-control-sm">
                <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                        class="btn bg-transparent btn-clear-input">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 pr-0">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="3">Незакінченна реєстрація</option>
              <option [ngValue]="2">Підтверджений</option>
              <option [ngValue]="1">Непідтверджений</option>
              <option [ngValue]="0">Заблокований</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-4">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm special" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table-sm table table-bordered sticky sticky-columns-6 table-striped text-left">
          <thead>
          <tr>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('id'); doFiltering()" [class.active]="filter.orderBy === 'id'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              ID
            </span>
            </th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('lastName'); doFiltering()" [class.active]="filter.orderBy === 'lastName'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Прізвище та Ім`я
            </span>
            </th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('email'); doFiltering()" [class.active]="filter.orderBy === 'email'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              E-mail
            </span>
            </th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('ikoint'); doFiltering()" [class.active]="filter.orderBy === 'ikoint'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              ikoint
            </span>
            </th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('status'); doFiltering()" [class.active]="filter.orderBy === 'status'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Статус
            </span>
            </th>
            <th>Дії</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let index = index">
            <td>
              {{ user.id }}
            </td>
            <td>
              {{ user.lastName }} {{ user.firstName }}
            </td>
            <td>
              {{ user.email }}
            </td>
            <td>
              {{ user.ikoint }}
            </td>
            <td>
              <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 3" class="text-warning fas fa-clock"></i>
              <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 0" class="text-danger fas fa-lock"></i>
              <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 1" class="text-primary fas fa-envelope"></i>
              <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 2" class="text-success fas fa-check-circle"></i>
            </td>
            <td>
              <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/admin/user/view/{{ user.id }}">
                <i class="far fa-eye"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let user of users; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    ID: {{ user.id }}
                  </h4>
                  <div class="card-text">

                    <div>
                      <strong>Прізвищена І"мя: </strong>
                      <p>
                        {{ user.lastName }} {{ user.firstName }}
                      </p>
                    </div>
                    <div>
                      <strong>Електронна скринька: </strong>
                      {{ user.email }}
                    </div>
                    <div>
                      <strong>Айкоінти: </strong>
                      {{ user.ikoint }}
                    </div>
                    <div>
                      <strong>Статус: </strong>
                      <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 3" class="text-warning fas fa-clock"></i>
                      <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 0" class="text-danger fas fa-lock"></i>
                      <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 1" class="text-primary fas fa-envelope"></i>
                      <i title="{{ getStatusName(user.status) }}" *ngIf="user.status === 2" class="text-success fas fa-check-circle"></i>
                    </div>
                    <div>
                      <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/admin/user/view/{{ user.id }}">
                        <i class="far fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>

      <ng-container *ngIf="!!!users || users.length === 0">
        <div class="text-muted">
          Дані відсутні.
        </div>
      </ng-container>
    </div>
  </div>

</ng-container>
