<ng-container *ngIf="!!company; else loader">

  <div class="col-12">

    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ikoint</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ company.ikoint }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-wallet fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Статус</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ statusName(company.status) }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">QR CODE</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ company.createdQuantityQrCode }} / {{ company.limitCreateQrCode }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-qrcode fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [titleLikeLink]="true"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      [initHideBody]="false"
      [colMdTitle]="7"
      [customRouterLink]="['/admin/company']"
      title="{{ company.name }}"
      [showTotal]="false">
      <button title="Редагувати" class="btn btn-sm btn-outline-primary" routerLink="/admin/company/update/{{ paramID }}">
        <i class="fas fa-edit"></i>
      </button>
    </app-karba-title>
    <div class="show" id="card-body-{{ id }}">

      <div class="card-body">
        <div class="loader d-none">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4">

            <div data-toggle="modal"
                 [attr.data-target]="'#selectedItem-' + id"
                 class="image-logo">

              <img id="app-admin-panel-company-view-logo" width="100px" height="100px" [src]="company.logoUrl.requestScheme + company.logoUrl.host + company.logoUrl.path + company.logoUrl.fileName" alt="" onerror="this.src='https://via.placeholder.com/700x400?text=Click+for+change'">

            </div>

          </div>

          <div class="col-md-2">

            <strong>Назва</strong>
            <p>
              {{ company.name }}
            </p>

          </div>

          <div class="col-md-3">

            <strong>Коротка назва</strong>
            <p>
              {{ company.shortName }}
            </p>

          </div>

          <div class="col-md-3">

            <strong>Назва на латиниці</strong>
            <p>
              {{ company.latinName }}
            </p>

          </div>

        </div>

        <hr>

        <div class="row">

          <div class="col-md-6">

            <strong>Головний колір</strong>
            <p>
              {{ company.primaryColor }}
            </p>

          </div>

          <div class="col-md-6">

            <strong>Останє оновлення</strong>
            <p>
              {{ company.updatedAt }}
            </p>

          </div>

        </div>

        <hr>

        <div class="row">

          <div class="col-md-12">

            <strong>Тегі</strong>
            <p>
                <span *ngFor="let tag of company.tags; let index = index">
                  {{ index > 0 ? ', ' : '' }} {{ tagName(tag) }}
                </span>
            </p>

          </div>

        </div>

        <hr>

        <div class="row">

          <div class="col-md-12">

            <strong>Гасло</strong>
            <p>
              {{ company.motto }}
            </p>

          </div>

        </div>

      </div>
    </div>

  </div>

  <app-admin-notification-home-page [companyId]="paramID"></app-admin-notification-home-page>

  <app-admin-panel-company-module-qr-code-component [companyId]="paramID"></app-admin-panel-company-module-qr-code-component>

  <app-admin-panel-company-module-members-component [companyId]="paramID"></app-admin-panel-company-module-members-component>

  <app-admin-panel-company-contacts [companyId]="paramID"></app-admin-panel-company-contacts>

  <!--<app-admin-panel-contract-home-page [companyId]="paramID"></app-admin-panel-contract-home-page>-->

  <app-admin-panel-point-of-sale-home-page [companyId]="paramID"></app-admin-panel-point-of-sale-home-page>

  <app-admin-panel-offer-home-page [companyId]="paramID"></app-admin-panel-offer-home-page>

  <app-admin-users-home [companyId]="paramID"></app-admin-users-home>

  <app-admin-panel-advertising-banner-home-page [companyId]="paramID"></app-admin-panel-advertising-banner-home-page>


  <!-- Modal -->
  <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="selectedItemLabel">Додавання нової картинки</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="row">


            <div class="col-12">

              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1"
                [onlyScaleDown]="false"
                [roundCropper]="false"
                format="jpg"
                outputType="base64"
                [autoCrop]="true"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
                [alignImage]="'center'"
              ></image-cropper>


            </div>
            <div class="col-md-12">

              <input #bannerInput type="file" (change)="fileChangeEvent($event)" />

            </div>

          </div>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            id="app-admin-panel-company-contact-cancel-button-modal"
            type="button"
            class="btn btn-outline-secondary"
            (click)="clearNewImg()"
            data-dismiss="modal">
            Скасувати
          </button>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="croppedImage === null"
            (click)="saveUploadImage()"
            data-dismiss="modal">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loader>

  <div class="loader d-none">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-template>
