<div class="container-fluid pt-5 text-center">

  <div class="col-md-12 mb-5">

    <img width="150px" height="150px" src="assets/images/logo/icons/ms-icon-150x150.png" alt="Logo">

  </div>

  <h1>Підтвердження електронної скриньки</h1>

  <ng-container *ngIf="result === null">

    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </ng-container>

  <h2 *ngIf="result" class="text-success">Вітаємо ви успішно пдітвердили свою електронну скриньку</h2>
  <h2 *ngIf="!result" class="text-danger">Перепрошуємо, але токен не є дійсним</h2>

</div>
