<div id="sidebar" [class.show-sidebar]="adminService.showSidebar">

  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
      <span>

        <img src="assets/images/logo/logo-lg_opt.png" height="45px" alt="Salo-Sale">

      </span>
      <a (click)="adminService.toggleSidebar()"
         class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i
        class="mdi mdi-toggle-switch" [class.mdi-toggle-switch-on]="adminService.showSidebar"
        [class.mdi-toggle-switch-off]="!adminService.showSidebar"></i></a>
      <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
        class="ti-menu ti-close"></i></a>
    </div>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">

          <!-- Nav Item - Dashboard -->
          <ng-container *ngFor="let route of routes">

            <ng-container *ngIf="route.data.isShow">


              <li>
                <a class="waves-effect waves-dark" [routerLink]="route.data.parentPath + route.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: route.data.exact}" aria-expanded="false">
                  <i class="{{ route.data.icon }}"></i>
                  <span>{{ route.data.title }}</span>
                </a>
              </li>

            </ng-container>

            <ng-container *ngIf="!!route.children && route.children.length > 0">

              <ng-container *ngFor="let child of route.children">

                <ng-container *ngIf="child.data.isShow">

                  <li>
                    <a class="waves-effect waves-dark" [routerLink]="child.data.parentPath + child.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: child.data.exact}" aria-expanded="false">
                      <i class="{{ child.data.icon }}"></i>
                      <span>{{ child.data.title }}</span>
                    </a>
                  </li>

                </ng-container>

              </ng-container>

            </ng-container>

          </ng-container>

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->

</div>

