.nav-text-box {

  height: 66px;

}


nav {

  &.sidebar-nav {
    max-height: calc(100vh - 66px);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;

    }

  }

}
