<div id="app-admin-panel-advertising-banner-module-home-page">

  <!-- DataTales Example -->

  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Рекомендовані пропозиції"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

      <ng-container *ngIf="offerId !== null">

        <!--          <a href="#/admin/advertising-banner/create/{{ offerId }}" class="btn btn-sm btn-primary">-->
        <!--            Додати рекомендацію-->
        <!--          </a>-->
        <!--           (click)="sendCreateRecommendedOffer()"-->
        <button class="btn btn-sm btn-primary" data-toggle="modal"
                [attr.data-target]="'#selectedItem-' + id">
          <i class="fas fa-plus-circle"></i>
        </button>

      </ng-container>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">

      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-2 pr-0">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="advertisingBannerService.filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="advertisingBannerService.filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-4">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ advertisingBannerService.filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm special" role="group">

                <button [disabled]="advertisingBannerService.filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="advertisingBannerService.filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of advertisingBannerService.filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== advertisingBannerService.filter.actualPage"
                  [class.btn-primary]="page === advertisingBannerService.filter.actualPage"
                  (click)="advertisingBannerService.filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="advertisingBannerService.filter.actualPage === advertisingBannerService.filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="advertisingBannerService.filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table-sm table table-bordered sticky sticky-columns-6 table-striped text-left">
          <thead>
          <tr>
            <th>ID</th>
            <th>Позиція</th>
            <th>Пропозиція</th>
            <th>Статус</th>
            <th>Дії</th>
            <th>Дії</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ab of advertisingBanners; let index = index">
            <td>
              {{ ab.id }}
            </td>
            <td>
              {{ ab.position }}
            </td>
            <td>
              <a href="#/admin/offer/view/{{ ab.offerId }}">Пропозиція</a>
            </td>
            <td title="{{ getStatus(ab.status) }}">
              <i *ngIf="ab.status === 2" class="text-success fas fa-check-circle"></i>
              <i *ngIf="ab.status === 1" class="text-muted fas fa-ban"></i>
            </td>
            <td>
              <div class="btn-group d-flex">

                <button class="btn btn-sm w-100" (click)="toggleStatusRecommendedOffer(ab)" [class.btn-success]="ab.status === 1" [class.btn-secondary]="ab.status === 2">
                  <i *ngIf="ab.status === 1" title="Опублікувати" class="fas fa-toggle-off"></i>
                  <i *ngIf="ab.status === 2" title="Не публікувати" class="fas fa-toggle-on"></i>
                </button>
                <button (click)="deleteRecommendedOffer(ab)" class="btn btn-sm btn-danger w-100">
                  <i class="fas fa-trash"></i>
                </button>

              </div>
            </td>
            <td>
              <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/admin/advertising-banner/view/{{ ab.id }}">
                <i class="far fa-eye"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <ng-container *ngFor="let ab of advertisingBanners; let index = index">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                ID: {{ ab.id }}
              </h4>
              <div class="card-text">
                <div>
                  <strong>Позиція: </strong>
                  {{ ab.position }}
                </div>
                <div class="mt-2 mb-2">
                  <a class="btn btn-block btn-info" href="#/admin/offer/view/{{ ab.offerId }}">Переглянути пропозицію</a>
                </div>
                <div class="mt-2 mb-2" title="{{ getStatus(ab.status) }}">
                  <strong>Статус: </strong>
                  <i *ngIf="ab.status === 2" class="text-success fas fa-check-circle"></i>
                  <i *ngIf="ab.status === 1" class="text-muted fas fa-ban"></i>
                </div>
                <div class="btn-group d-flex">

                  <button class="btn btn-sm w-100" (click)="toggleStatusRecommendedOffer(ab)" [class.btn-success]="ab.status === 1" [class.btn-secondary]="ab.status === 2">
                    <i *ngIf="ab.status === 1" title="Опублікувати" class="fas fa-toggle-off"></i>
                    <i *ngIf="ab.status === 2" title="Не публікувати" class="fas fa-toggle-on"></i>
                  </button>
                  <button (click)="deleteRecommendedOffer(ab)" class="btn btn-sm btn-danger w-100">
                    <i class="fas fa-trash"></i>
                  </button>

                </div>
                <div>
                  <button title="Перегляд" class="btn btn-block btn-sm btn-outline-primary" routerLink="/admin/advertising-banner/view/{{ ab.id }}">
                    <i class="far fa-eye"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="!!!advertisingBanners || advertisingBanners.length === 0">
        <div class="text-muted">
          Дані відсутні.
        </div>
      </ng-container>
      <small class="text-muted">* Щоб перейти до перегляду рекомендації натисніть на банер.</small>
      <br>
      <small class="text-muted">* Щоб додати нову рекомендацію, виберіть пропозицію і в перегляді ви зможете створити рекомендацію.</small>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Ініціалізація рекомендації
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">

            <!-- Start Input -->

            <div class="col-md-12">


              <label class="d-flex justify-content-between" for="init-recommended-offer-position">
                <span>Позиція рекомендації:</span>

              </label>

              <input [(ngModel)]="model.position" class="form-control" id="init-recommended-offer-position" name="name" type="number" placeholder="Позиція">

            </div>

            <!-- END Input -->

          </div>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="sendCreateRecommendedOffer()">Записати</button>
        </div>
      </div>
    </div>
  </div>

</div>
