<ng-container *ngIf="model === null">

  <div class="loader d-none">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="model !== null">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">
          {{ model._isNew ? 'Додавання нового закладу' : 'Редагування закладу: ' + model.name }}
        </h5>
        <a href="#/admin/company{{ model._isNew ? '' : '/view/' + model.id }}" class="btn btn-sm btn-secondary">
          Відмінити
        </a>
      </div>
    </div>
    <div class="card-body">

      <form [formGroup]="model.formGroup" class="form-group">

        <div class="row">

          <!-- Start Input -->

          <div class="col-md-4">


            <label class="d-flex justify-content-between" for="company-form-name">
              <span>Назва:</span>

              <ng-container
                *ngIf="model.formGroup.controls['name'].invalid && (model.formGroup.controls['name'].dirty || model.formGroup.controls['name'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['name'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="company-form-name" name="name" type="text" formControlName="name" placeholder="Name">

          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="company-form-latinName">
              <span>Назва на латиниці (англійська):</span>

              <ng-container
                *ngIf="model.formGroup.controls['latinName'].invalid && (model.formGroup.controls['latinName'].dirty || model.formGroup.controls['latinName'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['latinName'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="company-form-latinName" name="latinName" type="text" formControlName="latinName" placeholder="Latin name">


          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">

            <label class="d-flex justify-content-between" for="company-form-shortName">
              <span>Коротка назва:</span>

              <ng-container
                *ngIf="model.formGroup.controls['shortName'].invalid && (model.formGroup.controls['shortName'].dirty || model.formGroup.controls['shortName'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['shortName'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="form-control" id="company-form-shortName" name="shortName" type="text" formControlName="shortName" placeholder="Short name">

          </div>

          <!-- END Input -->

        </div>

        <div class="row mt-4">

          <!-- Start Input -->

          <div class="col-md-12">


            <label class="d-flex justify-content-between" for="company-form-motto">
              <span>Гасло:</span>

              <ng-container
                *ngIf="model.formGroup.controls['motto'].invalid && (model.formGroup.controls['motto'].dirty || model.formGroup.controls['motto'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['motto'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <textarea class="form-control" id="company-form-motto" name="motto" type="text" formControlName="motto" placeholder="Motto"></textarea>


          </div>

          <!-- END Input -->

        </div>

        <div class="row mt-4">

          <!-- Start Input -->

          <div class="col-md-4">


            <label class="d-flex justify-content-between" for="company-form-primaryColor">
              <span>Основний колір:</span>

              <ng-container
                *ngIf="model.formGroup.controls['primaryColor'].invalid && (model.formGroup.controls['primaryColor'].dirty || model.formGroup.controls['primaryColor'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['primaryColor'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <input class="color form-control" id="company-form-primaryColor" name="primaryColor" [cpPosition]="'right'" [value]="model.primaryColor" [(colorPicker)]="model.primaryColor" [style.background]="model.primaryColor" formControlName="primaryColor"/>


          </div>

          <!-- END Input -->

          <!-- Start Input -->

          <div class="col-md-4">


            <label class="d-flex justify-content-between" for="company-form-status">
              <span>Статус:</span>

              <ng-container
                *ngIf="model.formGroup.controls['status'].invalid && (model.formGroup.controls['status'].dirty || model.formGroup.controls['status'].touched || submitted)">

                <small class="text-danger" *ngIf="model.formGroup.controls['status'].errors.required">

                  Поле не може бути пустим.

                </small>

              </ng-container>

            </label>

            <select id="company-form-status" formControlName="status" class="form-control">
              <option [ngValue]="2">Опублікований</option>
              <option [ngValue]="1">Неопублікований</option>
            </select>


          </div>

          <!-- END Input -->

        </div>

        <hr>

        <div class="row">

          <div class="col-12">

            <label for="">Теги</label>
            <ng-select
              [items]="tags"
              [multiple]="true"
              [closeOnSelect]="false"
              [searchable]="true"
              bindLabel="name"
              bindValue="id"
              placeholder="Виберіть теги"
              formControlName="tags"
              (change)="changed($event)">
            </ng-select>

          </div>

        </div>


        <hr>

        <ng-container *ngIf="model._isNew">

          <div class="d-flex justify-content-between">

            <h6>
              <strong>
                Торгові точки
              </strong>
            </h6>

            <button (click)="addNewPointOfSaleToList()" class="btn btn-sm btn-primary">

              <strong>+</strong>

            </button>

          </div>

          <hr>

          <ng-container *ngFor="let pos of pointsOfSale; let index = index">

            <app-admin-panel-point-of-sale-form [submitted]="submitted" (removeItem)="removeItem($event)" [index]="index" [model]="pos" [isFromCompanyForm]="true"></app-admin-panel-point-of-sale-form>

            <hr>

          </ng-container>

        </ng-container>

        <ng-container *ngIf="model._isNew; else isNotNew">

          <div class="row">

            <div class="col-md-12">
              <hr>
            </div>

            <div class="col-md-4 mb-2">
              <button (click)="saveDocument()" class="btn btn-block btn-success">
                <i class="fas fa-save"></i> Запиши
              </button>
            </div>
            <div class="col-md-4 mb-2">

              <button (click)="saveDocument(true)" class="btn btn-block btn-success">
                <i class="fas fa-save"></i>&nbsp;<i class="fas fa-list"></i> Запиши і повернись до списку
              </button>
            </div>
            <div class="col-md-4 mb-2">

              <button (click)="saveDocument(false, true)" class="btn btn-block btn-success">
                <i class="fas fa-save"></i>&nbsp;<i class="fas fa-plus-circle"></i> Запиши і додати наступний
              </button>
            </div>

          </div>

        </ng-container>
        <ng-template #isNotNew>

          <input (click)="saveDocument()" type="submit" class="btn btn-success btn-block" value="Запиши">

        </ng-template>

      </form>

    </div>
  </div>

</ng-container>
