<div id="app-admin-panel-offer-module-home-page">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Пропозиції"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

      <ng-container>

        <a href="#/admin/offer/create{{ companyId !== null ? '/' + companyId : '' }}" class="btn btn-sm btn-primary">
          <i class="fas fa-plus-circle"></i>
        </a>

      </ng-container>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100" for="search">Пошук

            <div class="input-group">
              <input (keydown.enter)="doFiltering()" type="text"
                     [(ngModel)]="filter.search" id="search" name="search"
                     placeholder="Що будемо шукати?" class="form-control form-control-sm">
              <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                      class="btn bg-transparent btn-clear-input">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </label>
        </div>
        <div class="col-sm-12 col-md-2 pr-0">

          <label class="w-100">
            Тип

            <select (change)="doFiltering()" [(ngModel)]="filter.type" name="accessForUser"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option *ngFor="let type of types; let index = index" [ngValue]="index === 0 ? undefined : index">{{ type }}</option>
            </select>

          </label>

        </div>
        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="3">Публіковані в основному каталозі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Підготовлені</option>
              <option [ngValue]="0">Заблоковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group special btn-group-sm" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
        <div class="col-md-1">
          <br>
          <button class="btn btn-block btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
            <i class="fas fa-filter"></i>
          </button>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table-sm table table-bordered sticky table-striped text-left" [class.sticky-columns-7]="companyId === null" [class.sticky-columns-6]="companyId !== null">
          <thead>
          <tr>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('id'); doFiltering()" [class.active]="filter.orderBy === 'id'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              ID
            </span>
            </th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('name'); doFiltering()" [class.active]="filter.orderBy === 'name'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Назва
            </span>
            </th>
            <th>Баннер</th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('type'); doFiltering()" [class.active]="filter.orderBy === 'type'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Тип
            </span>
            </th>
            <th *ngIf="companyId === null">Бізнес</th>
            <th>
            <span class="cursor-pointer" (click)="filter.changeOrderBy('status'); doFiltering()" [class.active]="filter.orderBy === 'status'">
              <i *ngIf="filter.sort === 'ASC'" class="fas fa-sort-alpha-down"></i>
              <i *ngIf="filter.sort === 'DESC'" class="fas fa-sort-alpha-down-alt"></i>
              Статус
            </span>
            </th>
            <th>
              Дії
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let offer of offers; let index = index">
            <td>
              {{ offer.id }}
            </td>
            <td>
              <ul>
                <li *ngFor="let language of offer.languages">
                  {{ language.languageCode }}: <strong>{{ language.title }}</strong>
                </li>
              </ul>
            </td>
            <td>
              <img width="100%" [src]="offer.bannerUrl[0].requestScheme + offer.bannerUrl[0].host + offer.bannerUrl[0].path + offer.bannerUrl[0].fileName" alt="">
            </td>
            <td>
              {{ getTypeName(offer.type) }}
            </td>
            <td *ngIf="companyId === null">
              <a href="#/admin/company/view/{{ offer.companyId }}">{{ offer.company.name }}</a>
            </td>
            <td>
              <i title="{{ getStatusName(offer.status) }}" *ngIf="offer.status === 3" class="text-success fas fa-newspaper"></i>
              <i title="{{ getStatusName(offer.status) }}" *ngIf="offer.status === 2" class="text-success fas fa-check-circle"></i>
              <i title="{{ getStatusName(offer.status) }}" *ngIf="offer.status === 1" class="text-warning fas fa-clock"></i>
              <i title="{{ getStatusName(offer.status) }}" *ngIf="offer.status === 0" class="text-danger fas fa-lock"></i>
            </td>
            <td>
              <div class="btn-group d-flex" role="group" aria-label="Active">
                <button title="Редагування" class="btn btn-sm btn-sm btn-outline-primary w-100" routerLink="/admin/offer/update/{{ offer.id }}">
                  <i class="fas fa-edit"></i>
                </button>
                <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info" routerLink="/admin/offer/view/{{ offer.id }}">
                  <i class="far fa-eye"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let offer of offers; let index = index">
              <div class="card">
                <img class="card-img-top" width="100%" [src]="offer.bannerUrl[0].requestScheme + offer.bannerUrl[0].host + offer.bannerUrl[0].path + offer.bannerUrl[0].fileName" alt="">
                <div class="card-body">
                  <h4 class="card-title">
                    {{ offer.languages[0].title }}
                  </h4>
                  <p class="card-text" [innerHTML]="offer.languages[0].description">
                  </p>
                  <button title="Перегляд" class="btn btn-block btn-sm btn-outline-info" routerLink="/admin/offer/view/{{ offer.id }}">
                    <i class="far fa-eye"></i>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-container *ngIf="!!!offers || offers.length === 0">
        <div class="text-muted">
          Дані відсутні.
        </div>
      </ng-container>
    </div>
  </div>


</div>

<!-- Modal -->
<div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Фільтрування
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">

          <div class="col-sm-12 col-md-6">
            <label class="w-100">
              Доступно
              <select (change)="doFiltering()" [(ngModel)]="filter.accessForUser" name="accessForUser"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="undefined || null">Всі типи користувачів</option>
                <option *ngFor="let access of accessForUser; let index = index" [ngValue]="index + 1">{{ access }}</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12 col-md-6">
            <label class="w-100">
              Доступно де
              <select (change)="doFiltering()" [(ngModel)]="filter.accessForUse" name="accessForUse"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="undefined || null">Всі види використання</option>
                <option *ngFor="let access of accessForUse; let index = index" [ngValue]="index + 1">{{ access }}</option>
              </select>
            </label>
          </div>

        </div>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
