<ng-container *ngIf="!!pos">

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Статус</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ getStatusName(pos.status) }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [titleLikeLink]="true"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      [initHideBody]="false"
      [colMdTitle]="7"
      [customRouterLink]="['/admin/point-of-sale']"
      title="Торгова тчока"
      [showTotal]="false">
      <button title="Редагувати" class="btn btn-sm btn-outline-primary" routerLink="/admin/point-of-sale/update/{{ pos.id }}">
        <i class="fas fa-edit"></i>
      </button>
    </app-karba-title>
    <div class="show" id="card-body-{{ id }}">

      <div class="card-body">

        <div class="row">

          <div class="col-md-2">

            <strong>Місто</strong>
            <p>
            <span class="badge badge-dark">
              {{ getCityName(pos.localityId) }}
            </span>
            </p>

          </div>

          <div class="col-md-2">

            <strong>Ikoint</strong>
            <p>
              {{ pos.ikoint }}</p>

          </div>

          <div class="col-md-2">

            <strong>Довгота</strong>
            <p>
              {{ pos.longitude }}</p>

          </div>

          <div class="col-md-2">

            <strong>Широта</strong>
            <p>
              {{ pos.latitude }}</p>

          </div>

          <div class="col-md-2">

            <strong>Карта</strong>
            <h2>
              <a target="_blank" href="https://www.openstreetmap.org/?mlat={{ pos.latitude }}&mlon={{ pos.longitude }}#map=17/{{ pos.latitude }}/{{ pos.longitude }}"><i class="fas fa-map-marked-alt"></i></a>
            </h2>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12">

            <strong>Коментарій</strong>
            <p>
              {{ pos.comment }}</p>

          </div>

        </div>

        <ng-container *ngIf="pos.languages.length > 0">

          <hr>

          <h5>Назва адреси в залежності від мови</h5>

          <hr>

          <ng-container *ngFor="let language of pos.languages">

            <div class="row">

              <div class="col-md-2">

                <strong>Мова</strong>
                <p>
                  <span class="badge badge-dark">{{ languageName(language.languageCode) }}</span>
                </p>

              </div>

              <div class="col-md-10">

                <strong>Адреса</strong>
                <p>
                  {{ language.address }}</p>

              </div>

            </div>

          </ng-container>

        </ng-container>


      </div>
    </div>
  </div>

  <app-admin-panel-point-of-sale-module-members-component [pointOfSaleId]="pos.id"></app-admin-panel-point-of-sale-module-members-component>

  <app-admin-panel-point-of-sale-contacts [pointOfSaleId]="pos.id"></app-admin-panel-point-of-sale-contacts>

  <app-admin-panel-point-of-sale-work-hours-component></app-admin-panel-point-of-sale-work-hours-component>


</ng-container>
