#client-login-page {

  min-height: 100vh;

  .bg-login-image {

    background: url('https://salo-sale.com/adminpanel/assets/images/logo/logo_512x512.png') center;
    border-radius: 5px 0 0 5px;

  }

}
