<div id="app-admin-panel-offer-module-link-component">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Посилання пропозиції"
      [showTotal]="initialized && collapseContent"
      [total]="filterLink.total">

      <div class="btn-group">

<!--        <button class="btn btn-sm btn-primary">-->
<!--          Імортувати посилання-->
<!--        </button>-->

        <button class="btn btn-sm btn-primary" (click)="initLinkFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
          <i class="fas fa-plus-circle"></i>
        </button>

      </div>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div class="filter-panel row">
        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100">
            Пошук
            <input class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="offerService.filterLink.search" name="search">
          </label>
        </div>
        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="offerService.filterLink.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="offerService.filterLink.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-4">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ offerService.filterLink.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="offerService.filterLink.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="offerService.filterLink.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of offerService.filterLink.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== offerService.filterLink.actualPage"
                  [class.btn-primary]="page === offerService.filterLink.actualPage"
                  (click)="offerService.filterLink.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="offerService.filterLink.actualPage === offerService.filterLink.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="offerService.filterLink.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <div class="filter-panel-shadow"></div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Код</th>
          <th>Статус</th>
          <th>Дата створення</th>
          <th>Останє оновлення</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let link of offerLinks; let index = index">
          <td>
            {{ link.link }}
          </td>
          <td>
              <span class="badge {{ link.status === 2 ? 'badge-success' : link.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                <i title="{{ getStatusName(link.status) }}" *ngIf="link.status === 2" class="fas fa-check-circle"></i>
                <i title="{{ getStatusName(link.status) }}" *ngIf="link.status === 1" class="fas fa-clock"></i>
                <i title="{{ getStatusName(link.status) }}" *ngIf="link.status === 0" class="fas fa-lock"></i>
                {{ getStatusName(link.status) }}
              </span>
          </td>
          <td>
            {{ link.createdAt }}
          </td>
          <td>
            {{ link.updatedAt }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-container *ngIf="addLinkFormGroup !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Додавання коду
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="addLinkFormGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="link-form-link">
                    Код:

                    <ng-container
                      *ngIf="addLinkFormGroup.controls['link'].invalid && (addLinkFormGroup.controls['link'].dirty || addLinkFormGroup.controls['link'].touched)">

                      <small class="text-danger" *ngIf="addLinkFormGroup.controls['link'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="link-form-link" name="link" type="text" formControlName="link" placeholder="SALO_SALE">


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="code-form-status">
                    Статус:

                    <ng-container
                      *ngIf="addLinkFormGroup.controls['status'].invalid && (addLinkFormGroup.controls['status'].dirty || addLinkFormGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="addLinkFormGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select class="form-control" name="type" id="code-form-status" formControlName="status">
                    <option [ngValue]="1">Неопублікований</option>
                    <option [ngValue]="2">Опублікований</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

            </form>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="saveLink()">Додати</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</div>
