<!-- DataTales Example -->

<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    (clickOnCollapseBtn)="clickOnCollapseBtn()"
    [initHideBody]="initHideBody"
    title="Локалізація"
    [showTotal]="initialized && collapseContent"
    [total]="filter.total">

    <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
            [attr.data-target]="'#selectedItem-' + id">
      Додати нову країну
    </button>
  </app-karba-title>
  <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
    <div class="loader d-none">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
      <div class="col-sm-12 col-md-3 pr-0">
        <label class="w-100" for="search">Пошук

          <div class="input-group">
            <input (keydown.enter)="doFiltering()" type="text"
                   [(ngModel)]="filter.search" id="search" name="search"
                   placeholder="Що будемо шукати?" class="form-control form-control-sm">
            <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                    class="btn bg-transparent btn-clear-input">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </label>
      </div>
      <div class="col-sm-12 col-md-2 pr-0">
        <label>
          Статус
          <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="null">Всі</option>
            <option [ngValue]="2">Опубліковані</option>
            <option [ngValue]="1">Неопубліковані</option>
            <option [ngValue]="0">Заблаковані</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-2 pr-0">
        <label>
          Тип місцевості
          <select (change)="doFiltering()" [(ngModel)]="filter.type" name="type"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="null">Всі</option>
            <option [ngValue]="5">Місто</option>
            <option [ngValue]="6">Регіон</option>
            <option [ngValue]="7">Країна</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-1 pr-0">
        <label>
          Кількість
          <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-4">

        <label for="pagination" class="w-100">
          Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
          <div id="pagination" class="pagination">

            <div class="btn-group btn-group-sm special" role="group">

              <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                      (click)="filter.goToFirstPage(); doFiltering(false)">
                <i class="fas fa-angle-double-left"></i>
              </button>

              <button
                *ngFor="let page of filter.pageList"
                class="btn"
                [class.btn-outline-secondary]="page !== filter.actualPage"
                [class.btn-primary]="page === filter.actualPage"
                (click)="filter.changePage(page); doFiltering(false)">

                {{ page }}

              </button>

              <button [disabled]="filter.actualPage === filter.lastPage"
                      class="btn btn-outline-secondary"
                      (click)="filter.goToLastPage(); doFiltering(false)">
                <i class="fas fa-angle-double-right"></i>
              </button>

            </div>

          </div>
        </label>

      </div>
    </div>
    <ng-container *ngIf="isDesktop; else isNotDesktop">

      <div class="filter-panel-shadow"></div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>Назва</th>
          <th>Тип</th>
          <th>Статус</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let locality of localities; let index = index">
          <td>
            {{ locality.id }}
          </td>
          <td>
            <ul>
              <li *ngFor="let nameLanguage of locality.languages">
                {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
              </li>
            </ul>
          </td>
          <td>
            <span class="badge badge-dark">{{ locality.type }}</span>
          </td>
          <td>
            <span class="ml-2 badge" [class.badge-success]="locality.status === 2" [class.badge-danger]="locality.status === 1">
              {{ getStatusName(locality.status) }}
            </span>
          </td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-sm btn-primary" (click)="initSelectedItem(locality)" data-toggle="modal"
                      [attr.data-target]="'#selectedItem-' + id" title="Редагувати"><i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-success" (click)="initSelectedItem(locality, true)" data-toggle="modal"
                      [attr.data-target]="'#selectedItem-' + id">Додати
                <ng-container *ngIf="locality.type === 'COUNTRY'">
                  регіон
                </ng-container>
                <ng-container *ngIf="locality.type === 'REGION'">
                  місто
                </ng-container>
                <ng-container *ngIf="locality.type === 'CITY'">
                  місце
                </ng-container>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #isNotDesktop>

      <ng-container *ngFor="let locality of localities; let index = index">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ID:{{ locality.id }}
            </h4>
            <div class="card-text">

              <div>
                <strong>Назва: </strong>
                <ul>
                  <li *ngFor="let nameLanguage of locality.languages">
                    {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
                  </li>
                </ul>
              </div>
              <div>
                <strong>Тип: </strong>
                <span class="badge badge-dark">{{ locality.type }}</span>
              </div>
              <div>
                <strong>Статус: </strong>
                {{ getStatusName(locality.status) }}
              </div>
              <div>
                <div class="btn-group" role="group">
                  <button class="btn btn-sm btn-primary" (click)="initSelectedItem(locality)" data-toggle="modal"
                          [attr.data-target]="'#selectedItem-' + id" title="Редагувати"><i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-success" (click)="initSelectedItem(locality, true)" data-toggle="modal"
                          [attr.data-target]="'#selectedItem-' + id">Додати
                    <ng-container *ngIf="locality.type === 'COUNTRY'">
                      регіон
                    </ng-container>
                    <ng-container *ngIf="locality.type === 'REGION'">
                      місто
                    </ng-container>
                    <ng-container *ngIf="locality.type === 'CITY'">
                      місце
                    </ng-container>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="selectedItemLabel">{{ selectedItem._isNew ? 'Додавання міста' : 'Редагування міста з можливістю видалення' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="selectedItem.formGroup" class="form-group">

          <ng-container *ngIf="selectedItem.type === 'COUNTRY'">

            <h2 class="text-danger"><strong>Ви додаєте карїну!</strong></h2>

          </ng-container>

          <div class="row">



            <!-- Start Input -->

            <div class="col-md-12 mb-4">


              <label class="d-flex justify-content-between" for="locality-form-zoom">
                <span>Зум на карті: <small>(Не обов`язкове)</small></span>

                <ng-container
                  *ngIf="selectedItem.formGroup.controls['zoom'].invalid && (selectedItem.formGroup.controls['zoom'].dirty || selectedItem.formGroup.controls['zoom'].touched || submitted)">

                  <small class="text-danger" *ngIf="selectedItem.formGroup.controls['zoom'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="color form-control" id="locality-form-zoom" name="zoom" formControlName="zoom"/>


            </div>

            <!-- END Input -->

            <!-- Start Input -->

            <div class="col-md-6">


              <label class="d-flex justify-content-between" for="locality-form-longitude">
                <span>Широта:</span>

                <ng-container
                  *ngIf="selectedItem.formGroup.controls['longitude'].invalid && (selectedItem.formGroup.controls['longitude'].dirty || selectedItem.formGroup.controls['longitude'].touched || submitted)">

                  <small class="text-danger" *ngIf="selectedItem.formGroup.controls['longitude'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="color form-control" id="locality-form-longitude" name="longitude" formControlName="longitude"/>


            </div>

            <!-- END Input -->


            <!-- Start Input -->

            <div class="col-md-6">


              <label class="d-flex justify-content-between" for="locality-form-latitude">
                <span>Довгота:</span>

                <ng-container
                  *ngIf="selectedItem.formGroup.controls['latitude'].invalid && (selectedItem.formGroup.controls['latitude'].dirty || selectedItem.formGroup.controls['latitude'].touched || submitted)">

                  <small class="text-danger" *ngIf="selectedItem.formGroup.controls['latitude'].errors.required">

                    Поле не може бути пустим.

                  </small>

                </ng-container>

              </label>

              <input class="color form-control" id="locality-form-latitude" name="latitude" formControlName="latitude"/>


            </div>

            <!-- END Input -->

          </div>

          <fieldset formArrayName="languages">

            <div class="row mt-4" *ngFor="let nameLanguage of selectedItem.formGroup.controls.languages['controls']; let index = index">

              <div class="col-4">

                <label class="form-check-label mr-1" for="name_language_code_{{ index }}">
                  Мова
                </label>
                <select class="form-control" id="name_language_code_{{ index }}" name="name_language_code_{{ index }}" [formControl]="nameLanguage.controls['languageCode']">
                  <option *ngFor="let language of appService.languages" [ngValue]="language.code">
                    {{ language.name }}
                  </option>
                </select>

              </div>

              <div class="col-8">


                <label class="form-check-label mr-1 d-flex justify-content-between" for="name_language_name_{{ index }}">
                  <span>Назва</span>

                  <ng-container
                    *ngIf="nameLanguage.controls['name'].invalid && (nameLanguage.controls['name'].dirty || nameLanguage.controls['name'].touched || submitted)">

                    <small class="text-danger" *ngIf="nameLanguage.controls['name'].errors.required">

                      Поле не може бути пустим.

                    </small>

                  </ng-container>
                </label>
                <input type="text" class="form-control" id="name_language_name_{{ index }}" name="name_language_name_{{ index }}"
                       [formControl]="nameLanguage.controls['name']">

              </div>

            </div>

          </fieldset>

          <div class="row">

            <div class="col-12 mt-4">


              <label class="form-check-label mr-1" for="name_language_name_status">
                Статус
              </label>
              <select id="name_language_name_status" formControlName="status" class="custom-select form-control">
                <option disabled [ngValue]="null">Вибреи статус</option>
                <option [ngValue]="2">Опублікований</option>
                <option [ngValue]="1">Неопублікований</option>
              </select>

            </div>

          </div>

        </form>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button id="app-admin-panel-cities-cancel-button-modal" type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="initSelectedItem()">Скасувати</button>
        <button *ngIf="!selectedItem._isNew" (click)="deleteSelectedLocality()" type="button" class="btn btn-danger">Видалити</button>
        <button type="button" class="btn btn-success" (click)="saveSelectedLocality()">Зберігти</button>
      </div>
    </div>
  </div>
</div>
