#offer-page {

  .image-offer-by-language {

    position: relative;

    &:after {

      color: white;
      content: "Click for change";
      visibility:hidden;
      opacity:0;
      -webkit-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
      -moz-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
      -o-transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
      transition: isibility 0.3s linear,opacity 0.3s linear, color .5s, font-size .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);

    }

    &:hover {

      &:after {
        visibility:visible;
        opacity:1;
        font-size: large;

      }

    }

  }

}
