<div id="app-admin-panel-offer-module-validity-component">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Робочий графік"
      [showTotal]="initialized && collapseContent"
      [total]="filter.total">

      <div class="btn-group">

        <button class="btn btn-sm btn-primary" (click)="selected = null; initFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
          <i class="fas fa-plus-circle"></i>
        </button>

      </div>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100">
            Пошук
            <input placeholder="Пошук по коду" class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="filter.search" name="search">
          </label>
        </div>

        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filter.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filter.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filter.actualPage"
                  [class.btn-primary]="page === filter.actualPage"
                  (click)="filter.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filter.actualPage === filter.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filter.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">

        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Час відкриття</th>
            <th>Час закриття</th>
            <th>День тижня</th>
            <th>Чи в цю дату можна використовувати?</th>
            <th>Це діапозон?</th>
            <th>Це від?</th>
            <th>Статус</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let validity of workHoursList; let index = index">
            <td>
              {{ validity.id }}
            </td>
            <td>
              {{ !!!validity.workDate ? validity.workDate.getFullYear() + '-' + (validity.workDate.getMonth() + 1) + '-' + validity.workDate.getDate() : '-' }}
            </td>
            <td>
              {{ validity.openTime }}
            </td>
            <td>
              {{ validity.closeTime }}
            </td>
            <td>
              {{ validity.weekday | pipeDayName}}
            </td>
            <td>
              {{ validity.canUse === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              {{ validity.isRange === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              {{ validity.isFrom === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 2" class="text-success fas fa-check-circle"></i>
              <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 1" class="text-warning fas fa-clock"></i>
              <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 0" class="text-danger fas fa-lock"></i>
            </td>
            <td>

              <button title="Редагувати" class="btn btn-sm btn-sm btn-outline-primary w-100" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id" (click)="selected = validity; initFormGroup()">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>
        <ng-container *ngFor="let validity of workHoursList; let index = index">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                ID: {{ validity.id }}
              </h4>
              <div class="card-text">

                <div>
                  <strong>Дата: </strong>
                  {{ !!!validity.workDate ? validity.workDate.getFullYear() + '-' + (validity.workDate.getMonth() + 1) + '-' + validity.workDate.getDate() : '-' }}
                </div>
                <div>
                  <strong>Час відкриття: </strong>
                  {{ validity.openTime }}
                </div>
                <div>
                  <strong>Час закриття: </strong>
                  {{ validity.closeTime }}
                </div>
                <div>
                  <strong>День тижня: </strong>
                  {{ validity.weekday | pipeDayName}}
                </div>
                <div>
                  <strong>Можна використовувати: </strong>
                  {{ validity.canUse === 1 ? 'Так' : 'Ні' }}
                </div>
                <div>
                  <strong>Це від і до: </strong>
                  {{ validity.isRange === 1 ? 'Так' : 'Ні' }}
                </div>
                <div>
                  <strong>Це від: </strong>
                  {{ validity.isFrom === 1 ? 'Так' : 'Ні' }}
                </div>
                <div>
                  <strong>Статус: </strong>
                  <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 2" class="text-success fas fa-check-circle"></i>
                  <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 1" class="text-warning fas fa-clock"></i>
                  <i title="{{ getStatusName(validity.status) }}" *ngIf="validity.status === 0" class="text-danger fas fa-lock"></i>
                </div>
                <div>

                  <button title="Редагувати" class="btn btn-sm btn-sm btn-outline-primary w-100" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id" (click)="selected = validity; initFormGroup()">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="formGroup !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Додавання робочого графіку
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="formGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-6 mb-4">

                  <label class="d-flex justify-content-between form-check-label" for="weekday-form-weekday">
                    <strong>Виберіть день тижня</strong>

                    <ng-container
                      *ngIf="formGroup.controls['weekday'].invalid && (formGroup.controls['weekday'].dirty || formGroup.controls['weekday'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['weekday'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>
                  <select id="weekday-form-weekday" name="weekday" class="form-control" formControlName="weekday">
                    <option [value]="null">Вибери день тижня</option>
                    <option [value]="1">Понеділок</option>
                    <option [value]="2">Вівторок</option>
                    <option [value]="3">Середа</option>
                    <option [value]="4">Четвер</option>
                    <option [value]="5">П`ятниця</option>
                    <option [value]="6">Субота</option>
                    <option [value]="0">Неділя</option>
                  </select>


                </div>

                <!-- END Input -->


                <!-- Start Input -->

                <div class="col-md-6 mb-4">


                  <label class="d-flex justify-content-between form-check-label" for="pos-work-hours-form-status">
                    <strong>Статус</strong>

                    <ng-container
                      *ngIf="formGroup.controls['status'].invalid && (formGroup.controls['status'].dirty || formGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select id="pos-work-hours-form-status" formControlName="status" class="form-control">
                    <option [ngValue]="2">Опублікований</option>
                    <option [ngValue]="1">Неопублікований</option>
                  </select>


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between form-check-label" for="openTime-form-openTime">
                    <strong>Час відкриття</strong>

                    <ng-container
                      *ngIf="formGroup.controls['openTime'].invalid && (formGroup.controls['openTime'].dirty || formGroup.controls['openTime'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['openTime'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="openTime-form-openTime" name="openTime" type="text" formControlName="openTime" placeholder="08:00:00">

                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between form-check-label" for="closeTime-form-closeTime">
                    <strong>Час закриття</strong>

                    <ng-container
                      *ngIf="formGroup.controls['closeTime'].invalid && (formGroup.controls['closeTime'].dirty || formGroup.controls['closeTime'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['closeTime'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="closeTime-form-closeTime" name="closeTime" type="text" formControlName="closeTime" placeholder="20:00:00">


                </div>

                <!-- END Input -->

                <div class="col-md-12 mt-4">

                  <button class="btn btn-block btn-light" data-toggle="collapse" data-target="#advancedFormWorkHoursPOS">
                    Більше полів
                  </button>

                </div>

                <div id="advancedFormWorkHoursPOS" class="collapse col-md-12 mt-2">

                  <div class="row">

                    <!-- Start Input -->

                    <div class="col-md-6">

                      <label class="d-flex justify-content-between form-check-label" for="workDate-form-workDate">
                        <strong>Дата</strong>

                        <ng-container
                          *ngIf="formGroup.controls['workDate'].invalid && (formGroup.controls['workDate'].dirty || formGroup.controls['workDate'].touched)">

                          <small class="text-danger" *ngIf="formGroup.controls['workDate'].errors.required">

                            Поле не може бути пустим.

                          </small>

                        </ng-container>

                      </label>

                      <div class="input-group">
                        <input id="workDate-form-workDate" formControlName="workDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>


                    </div>

                    <!-- END Input -->

                    <!-- Start Input -->

                    <div class="col-md-6">

                      <label class="d-flex justify-content-between form-check-label" for="canUse-form-canUse">
                        <strong>Дата використання?</strong>

                        <ng-container
                          *ngIf="formGroup.controls['canUse'].invalid && (formGroup.controls['canUse'].dirty || formGroup.controls['canUse'].touched)">

                          <small class="text-danger" *ngIf="formGroup.controls['canUse'].errors.required">

                            Поле не може бути пустим.

                          </small>

                        </ng-container>

                      </label>

                      <div class="form-group form-check">
                        <input [checked]="formGroup.controls['canUse'].value === 1" type="checkbox" formControlName="canUse" class="form-check-input" id="canUse-form-canUse">
                        <label class="form-check-label" for="canUse-form-canUse">Так</label>
                      </div>

                    </div>

                    <!-- END Input -->

                    <div class="col-md-12 mt-4 mb-4">
                    </div>

                    <!-- Start Input -->

                    <div class="col-md-6">

                      <label class="d-flex justify-content-between form-check-label" for="isRange-form-isRange">
                        <strong>Це діапозон?</strong>

                        <ng-container
                          *ngIf="formGroup.controls['isRange'].invalid && (formGroup.controls['isRange'].dirty || formGroup.controls['isRange'].touched)">

                          <small class="text-danger" *ngIf="formGroup.controls['isRange'].errors.required">

                            Поле не може бути пустим.

                          </small>

                        </ng-container>

                      </label>

                      <div class="form-group form-check">
                        <input type="checkbox" formControlName="isRange" class="form-check-input" id="isRange-form-isRange">
                        <label class="form-check-label" for="isRange-form-isRange">Так</label>
                      </div>


                    </div>

                    <!-- END Input -->

                    <!-- Start Input -->

                    <div class="col-md-6">

                      <label class="d-flex justify-content-between form-check-label" for="isFrom-form-isFrom">
                        <strong>Дата від</strong>

                        <ng-container
                          *ngIf="formGroup.controls['isFrom'].invalid && (formGroup.controls['isFrom'].dirty || formGroup.controls['isFrom'].touched)">

                          <small class="text-danger" *ngIf="formGroup.controls['isFrom'].errors.required">

                            Поле не може бути пустим.

                          </small>

                        </ng-container>

                      </label>

                      <div class="form-group form-check">
                        <input type="checkbox" formControlName="isFrom" class="form-check-input" id="isFrom-form-isFrom">
                        <label class="form-check-label" for="isRange-form-isRange">Так</label>
                      </div>

                    </div>

                    <!-- END Input -->

                  </div>

                </div>

              </div>

            </form>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-light" data-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-danger" *ngIf="!selected._isNew" data-dismiss="modal" (click)="delete()">Видалити</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()">Додати</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>
