<div id="app-admin-panel-offer-module-validity-component">

  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Термін використання"
      [showTotal]="initialized && collapseContent"
      [total]="filterValidity.total">

      <button class="btn btn-sm btn-primary" (click)="selected = null; initFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
        <i class="fas fa-plus-circle"></i>
      </button>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">



      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">

        <div class="col-sm-12 col-md-3 pr-0">
          <label class="w-100">
            Пошук
            <input placeholder="Пошук по коду" class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="filterValidity.search" name="search">
          </label>
        </div>

        <div class="col-sm-12 col-md-2 pr-0">
          <label class="w-100">
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filterValidity.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label class="w-100">
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filterValidity.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ filterValidity.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filterValidity.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filterValidity.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filterValidity.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filterValidity.actualPage"
                  [class.btn-primary]="page === filterValidity.actualPage"
                  (click)="filterValidity.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filterValidity.actualPage === filterValidity.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filterValidity.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">

        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Час відкриття</th>
            <th>Час закриття</th>
            <th>День тижня</th>
            <th>Чи в цю дату можна використовувати?</th>
            <th>Це діапозон?</th>
            <th>Це від?</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let validity of validityList; let index = index">
            <td>
              {{ validity.id }}
            </td>
            <td>
              {{ !!!validity.validityDate ? validity.validityDate.getFullYear() + '-' + (validity.validityDate.getMonth() + 1) + '-' + validity.validityDate.getDate() : '-' }}
            </td>
            <td>
              {{ validity.openTime }}
            </td>
            <td>
              {{ validity.closeTime }}
            </td>
            <td>
              {{ validity.weekday }}
            </td>
            <td>
              {{ validity.canUse === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              {{ validity.isRange === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              {{ validity.isFrom === 1 ? 'Так' : 'Ні' }}
            </td>
            <td>
              <a href="javascript:void(0);" (click)="selected = validity; initFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id" title="Редагувати">
                <i class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let validity of validityList; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    ID: {{ validity.id }}
                  </h4>
                  <div class="card-text">
                    <div>
                      <strong>Дата: </strong>
                      {{ !!!validity.validityDate ? validity.validityDate.getFullYear() + '-' + (validity.validityDate.getMonth() + 1) + '-' + validity.validityDate.getDate() : '-' }}
                    </div>
                    <div>
                      <strong>Час відкриття: </strong>
                      {{ validity.openTime }}
                    </div>
                    <div>
                      <strong>Час закриття: </strong>
                      {{ validity.closeTime }}
                    </div>
                    <div>
                      <strong>День тижня: </strong>
                      {{ validity.weekday }}
                    </div>
                    <div>
                      <strong>Можна використовувати: </strong>
                      {{ validity.canUse === 1 ? 'Так' : 'Ні' }}
                    </div>
                    <div>
                      <strong>Це від і до: </strong>
                      {{ validity.isRange === 1 ? 'Так' : 'Ні' }}
                    </div>
                    <div>
                      <strong>Це від: </strong>
                      {{ validity.isFrom === 1 ? 'Так' : 'Ні' }}
                    </div>
                    <div>
                      <a class="btn btn-block btn-primary" href="javascript:void(0);" (click)="selected = validity; initFormGroup()" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id" title="Редагувати">
                        <i class="fas fa-edit"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>

    </div>
  </div>

  <ng-container *ngIf="formGroup !== undefined">

    <!-- Modal  -->
    <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Додавання коду
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="formGroup" class="form-group">

              <div class="row">

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="validityDate-form-validityDate">
                    Дата:

                    <ng-container
                      *ngIf="formGroup.controls['validityDate'].invalid && (formGroup.controls['validityDate'].dirty || formGroup.controls['validityDate'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['validityDate'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <div class="input-group">
                    <input id="validityDate-form-validityDate" formControlName="validityDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="canUse-form-canUse">
                    Дата використання?:

                    <ng-container
                      *ngIf="formGroup.controls['canUse'].invalid && (formGroup.controls['canUse'].dirty || formGroup.controls['canUse'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['canUse'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <div class="form-group form-check">
                    <input type="checkbox" formControlName="canUse" class="form-check-input" id="canUse-form-canUse">
                    <label class="form-check-label" for="canUse-form-canUse">Так</label>
                  </div>

                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-12 mb-4 mt-4">

                  <label class="d-flex justify-content-between" for="weekday-form-weekday">
                    Напишіть цифру від 0 до 5 де 0 це неділя а 5 це субота:

                    <ng-container
                      *ngIf="formGroup.controls['weekday'].invalid && (formGroup.controls['weekday'].dirty || formGroup.controls['weekday'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['weekday'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="weekday-form-weekday" name="weekday" type="text" formControlName="weekday" placeholder="SALO_SALE">

                  <small class="text-muted">
                    логічно що 1 це понеділок, і так далі, якщо хочете щоб був доступний тільки якийсь день тижня
                  </small>


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="openTime-form-openTime">
                    Час відкриття:

                    <ng-container
                      *ngIf="formGroup.controls['openTime'].invalid && (formGroup.controls['openTime'].dirty || formGroup.controls['openTime'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['openTime'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="openTime-form-openTime" name="openTime" type="text" formControlName="openTime" placeholder="SALO_SALE">

                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="closeTime-form-closeTime">
                    Час закритття:

                    <ng-container
                      *ngIf="formGroup.controls['closeTime'].invalid && (formGroup.controls['closeTime'].dirty || formGroup.controls['closeTime'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['closeTime'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="form-control" id="closeTime-form-closeTime" name="closeTime" type="text" formControlName="closeTime" placeholder="SALO_SALE">


                </div>

                <!-- END Input -->

                <div class="col-md-12 mt-4 mb-4">
                </div>

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="isRange-form-isRange">
                    Це діапозон?:

                    <ng-container
                      *ngIf="formGroup.controls['isRange'].invalid && (formGroup.controls['isRange'].dirty || formGroup.controls['isRange'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['isRange'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <div class="form-group form-check">
                    <input type="checkbox" formControlName="isRange" class="form-check-input" id="isRange-form-isRange">
                    <label class="form-check-label" for="isRange-form-isRange">Так</label>
                  </div>


                </div>

                <!-- END Input -->

                <!-- Start Input -->

                <div class="col-md-6">

                  <label class="d-flex justify-content-between" for="isFrom-form-isFrom">
                    Дата від:

                    <ng-container
                      *ngIf="formGroup.controls['isFrom'].invalid && (formGroup.controls['isFrom'].dirty || formGroup.controls['isFrom'].touched)">

                      <small class="text-danger" *ngIf="formGroup.controls['isFrom'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <div class="form-group form-check">
                    <input type="checkbox" formControlName="isFrom" class="form-check-input" id="isFrom-form-isFrom">
                    <label class="form-check-label" for="isRange-form-isRange">Так</label>
                  </div>

                </div>

                <!-- END Input -->

              </div>

            </form>

          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="save()">Додати</button>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>
