<ng-container *ngIf="!!ab">

  <div class="container-fluid">

    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Статус</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ statusName(ab.status) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Черга</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ !!ab.position ? 'Не встановлена' : ab.position }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- DataTales Example -->
  <div class="card shadow mt-4">

    <div class="card-header">
      <div class="d-flex justify-content-between">

        <a href="#/admin/advertising-banner" id="btn-back" class="btn btn-link btn-sm">
        <h6 class="m-0 font-weight-bold text-primary">

            <i class="fas fa-angle-left"></i>
            Рекомендований банер

        </h6>
        </a>
        <a href="#/admin/advertising-banner/update/{{ ab.id }}" class="btn btn-sm btn-primary" title="Редагувати">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-md-4">
          <strong>Пропозиція</strong>
          <p>
            <a href="#/admin/offer/view/{{ ab.offerId }}">Пропозиція</a>
          </p>
        </div>
        <div class="col-md-4">
          <strong>Дата створення</strong>
          <p>{{ ab.createdAt }}</p>
        </div>
        <div class="col-md-4">
          <strong>Останій раз оновленна</strong>
          <p>{{ ab.updatedAt }}</p>
        </div>

      </div>

    </div>

  </div>

</ng-container>
