<div id="app-admin-panel-point-of-sale-module-members-component">
  <!-- DataTales Example -->
  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Члени"
      [showTotal]="initialized && collapseContent"
      [total]="filterMember.total">

      <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
              [attr.data-target]="'#selectedItem-' + id">
        <i class="fas fa-plus-circle"></i>
      </button>

    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div class="loader d-none">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-2 pr-0">
          <label>
            Статус
            <select (change)="doFiltering()" [(ngModel)]="filterMember.status" name="status"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="null">Всі</option>
              <option [ngValue]="2">Опубліковані</option>
              <option [ngValue]="1">Неопубліковані</option>
              <option [ngValue]="0">Заблаковані</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-1 pr-0">
          <label>
            Кількість
            <select (change)="doFiltering()" [(ngModel)]="filterMember.count" name="count"
                    class="custom-select custom-select-sm form-control form-control-sm">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
            </select>
          </label>
        </div>
        <div class="col-sm-12 col-md-3">

          <label for="pagination">
            Сторінки <small class="text-muted">({{ filterMember.lastPage }})</small>
            <div class="pagination" id="pagination">

              <div class="btn-group btn-group-sm" role="group">

                <button [disabled]="filterMember.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="filterMember.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of filterMember.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== filterMember.actualPage"
                  [class.btn-primary]="page === filterMember.actualPage"
                  (click)="filterMember.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="filterMember.actualPage === filterMember.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="filterMember.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Роль</th>
            <th>ІД користувача</th>
            <th>Статус</th>
            <th>Меню</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members; let index = index">
            <td>
              {{ member.id }}
            </td>
            <td>
              <span class="badge badge-dark">
                {{ typeMember(member.role) }}
              </span>
            </td>
            <td>
              {{ member.userEmail }}
            </td>
            <td>
              <span class="badge" [class.badge-success]="member.status === 2" [class.badge-danger]="member.status === 1">
                {{ getStatusName(member.status) }}
              </span>
            </td>
            <td>
              <button data-toggle="modal"
                      [attr.data-target]="'#selectedItem-' + id"
                      (click)="initSelectedItem(member)"
                      title="Редагувати"
                      class="btn btn-sm btn-primary">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>

        <ng-container *ngFor="let member of members; let index = index">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                ID: {{ member.id }}
              </h4>
              <div class="card-text">

                <div>
                  <strong>Роль: </strong>
                  <span class="badge badge-dark">
                    {{ typeMember(member.role) }}
                  </span>
                </div>
                <div>
                  <strong>Користувач ІД: </strong>
                  {{ member.userEmail }}
                </div>
                <div>
                  <strong>Статус: </strong>
                  <span class="badge" [class.badge-success]="member.status === 2" [class.badge-danger]="member.status === 1">
                {{ getStatusName(member.status) }}
              </span>
                </div>
                <div>
                  <button data-toggle="modal"
                          [attr.data-target]="'#selectedItem-' + id"
                          (click)="initSelectedItem(member)"
                          title="Редагувати"
                          class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="selectedItemLabel">Додавання нового контакту</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <ng-container *ngIf="initializedForm">

            <form [formGroup]="selectedItem.formGroup" class="form-group">

              <div class="row">


                <!-- Start Input -->

                <div class="col-md-12">


                  <label class="d-flex justify-content-between" for="company-form-role">
                    <span>Роль:</span>

                    <ng-container
                      *ngIf="selectedItem.formGroup.controls['role'].invalid && (selectedItem.formGroup.controls['role'].dirty || selectedItem.formGroup.controls['role'].touched)">

                      <small class="text-danger" *ngIf="selectedItem.formGroup.controls['role'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <!--              <input class="color form-control" id="company-form-role" name="role" formControlName="role"/>-->

                  <select class="form-control" id="company-form-role" name="role" formControlName="role">
                    <option *ngFor="let type of typeMember(null); let index = index" [value]="index">{{ type }}</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

              <div class="row mt-2">


                <!-- Start Input -->

                <div class="col-md-12">


                  <label class="d-flex justify-content-between" for="company-form-userEmail">
                    <span>Електронна пошта:</span>

                    <ng-container
                      *ngIf="selectedItem.formGroup.controls['userEmail'].invalid && (selectedItem.formGroup.controls['userEmail'].dirty || selectedItem.formGroup.controls['userEmail'].touched)">

                      <small class="text-danger" *ngIf="selectedItem.formGroup.controls['userEmail'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <input class="color form-control" id="company-form-userEmail" name="userEmail" formControlName="userEmail"/>


                </div>

                <!-- END Input -->

              </div>

              <div class="row mt-2">


                <!-- Start Input -->

                <div class="col-md-12">


                  <label class="d-flex justify-content-between" for="company-form-status">
                    <span>Статус:</span>

                    <ng-container
                      *ngIf="selectedItem.formGroup.controls['status'].invalid && (selectedItem.formGroup.controls['status'].dirty || selectedItem.formGroup.controls['status'].touched)">

                      <small class="text-danger" *ngIf="selectedItem.formGroup.controls['status'].errors.required">

                        Поле не може бути пустим.

                      </small>

                    </ng-container>

                  </label>

                  <select id="company-form-status" formControlName="status" class="form-control">
                    <option [ngValue]="null" disabled>Виберіть статус</option>
                    <option [ngValue]="2">Опублікований</option>
                    <option [ngValue]="1">Неопублікований</option>
                  </select>


                </div>

                <!-- END Input -->

              </div>

            </form>

          </ng-container>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            id="app-admin-panel-company-module-members-component-cancel-button-modal"
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal">
            Скасувати
          </button>
          <button
            (click)="deleteMember()"
            type="button"
            *ngIf="!selectedItem._isNew"
            class="btn btn-danger"
            data-dismiss="modal">
            Видалити
          </button>
          <button
            (click)="saveMember()"
            type="button"
            class="btn btn-success"
            data-dismiss="modal">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
