
<!-- DataTales Example -->
<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    (clickOnCollapseBtn)="clickOnCollapseBtn()"
    [initHideBody]="initHideBody"
    title="Списки тегів"
    [showTotal]="initialized && collapseContent"
    [total]="appService.listsOfTags.length">

    <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
            [attr.data-target]="'#selectedItem-' + id">
      Додати нову країну
    </button>
  </app-karba-title>
  <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Назва</th>
        <th>Приписаних тегів</th>
        <th>Статус</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let listOfTags of appService.listsOfTags; let index = index">
        <td>
          {{ index+1 }}
        </td>
        <td>
          {{ listOfTags.name }}
        </td>
        <td>
          {{ listOfTags.tags.length }}
        </td>
        <td>
          <span class="ml-2 badge" [class.badge-success]="listOfTags.status === 2" [class.badge-danger]="listOfTags.status === 1">
            {{ getStatusName(listOfTags.status) }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm btn-secondary" (click)="initSelectedListOfTags(listOfTags)" data-toggle="modal"
                  [attr.data-target]="'#selectedItem-' + id">переглянути
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="selectedListOfTags !== null">
      <div class="modal-header">
        <h5 class="modal-title"
            id="selectedListOfTagsLabel">Перегляд списку тегів для {{ selectedListOfTags.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--        <table class="table table-bordered">-->
        <!--          <thead>-->
        <!--          <tr>-->
        <!--            <th>ID</th>-->
        <!--            <th>Назва</th>-->
        <!--            <th>Іконка</th>-->
        <!--            <th>Статус</th>-->
        <!--            <th>Action</th>-->
        <!--          </tr>-->
        <!--          </thead>-->
        <!--          <tbody>-->
        <!--          <tr *ngFor="let tag of selectedListOfTags.tags; let index = index">-->
        <!--            <td>-->
        <!--              {{ tag.id }}-->
        <!--            </td>-->
        <!--            <td>-->
        <!--              {{ tag.name }}-->
        <!--            </td>-->
        <!--            <td>-->
        <!--              {{ tag.icon }}-->
        <!--            </td>-->
        <!--            <td>-->
        <!--              {{ tag.status }}-->
        <!--            </td>-->
        <!--            <td></td>-->
        <!--          </tr>-->
        <!--          </tbody>-->
        <!--        </table>-->


        <div class="filter-panel row">
          <div class="col-sm-12 col-md-2">
            <label class="w-100">
              Пошук
              <input class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="filter.search" name="search">
            </label>
          </div>
          <div class="col-sm-12 col-md-2">
            <label class="w-100">
              Кількість
              <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12 col-md-2">
            <label class="w-100">
              Статус
              <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="null">Всі</option>
                <option [ngValue]="2">Опубліковані</option>
                <option [ngValue]="1">Неопубліковані</option>
                <option [ngValue]="0">Заблаковані</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12 col-md-6">

            <label for="pagination-tag-list" class="w-100">
              Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
              <div id="pagination-tag-list" class="pagination">

                <div class="btn-group btn-group-sm special" role="group">

                  <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                          (click)="filter.goToFirstPage(); doFiltering(false)">
                    <i class="fas fa-angle-double-left"></i>
                  </button>

                  <button
                    *ngFor="let page of filter.pageList"
                    class="btn"
                    [class.btn-outline-secondary]="page !== filter.actualPage"
                    [class.btn-primary]="page === filter.actualPage"
                    (click)="filter.changePage(page); doFiltering(false)">

                    {{ page }}

                  </button>

                  <button [disabled]="filter.actualPage === filter.lastPage"
                          class="btn btn-outline-secondary"
                          (click)="filter.goToLastPage(); doFiltering(false)">
                    <i class="fas fa-angle-double-right"></i>
                  </button>

                </div>

              </div>
            </label>

          </div>
        </div>
        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Іконка</th>
            <th>Статус</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <!--          trackBy: trackByListOfTag;-->
          <tr *ngFor="let tag of tags; let index = index">
            <td>
              {{ tag.id }}
            </td>
            <td>
              <ul>
                <li *ngFor="let nameLanguage of tag.languages">
                  {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
                </li>
              </ul>
            </td>
            <td>
              {{ tag.icon }}
            </td>
            <td>
              {{ getStatusName(tag.status) }}
            </td>
            <td>
              <ng-container *ngIf="checkUseForList(tag.id); else notUseForList">
                <button (click)="toggleToTagList(tag, true)" class="btn btn-sm btn-danger">
                  Відписати
                </button>
              </ng-container>
              <ng-template #notUseForList>
                <button (click)="toggleToTagList(tag)" class="btn btn-sm btn-success">
                  Приписати
                </button>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="initSelectedItem()">Закрити</button>
      </div>
    </div>
  </div>
</div>
