<!-- DataTales Example -->
<div class="card shadow mt-4">
  <app-karba-title
    [coreId]="id"
    [pageId]="pageId"
    [loading]="loading"
    (clickOnRefreshBtn)="clickOnRefreshBtn()"
    (clickOnCollapseBtn)="clickOnCollapseBtn()"
    [initHideBody]="initHideBody"
    title="Теги"
    [showTotal]="initialized && collapseContent"
    [total]="filter.total">

    <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
            [attr.data-target]="'#selectedItem-' + id">
      Додати нову країну
    </button>
  </app-karba-title>
  <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
    <div class="filter-panel row">
      <div class="col-sm-12 col-md-3 pr-0">
        <label class="w-100" for="search">Пошук

          <div class="input-group">
            <input (keydown.enter)="doFiltering()" type="text"
                   [(ngModel)]="filter.search" id="search" name="search"
                   placeholder="Що будемо шукати?" class="form-control form-control-sm">
            <button *ngIf="filter.search.length > 1" (click)="clearSearch()"
                    class="btn bg-transparent btn-clear-input">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </label>
      </div>
      <div class="col-sm-12 col-md-2 pr-0">
        <label class="w-100">
          Статус
          <select (change)="doFiltering()" [(ngModel)]="filter.status" name="status"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="null">Всі</option>
            <option [ngValue]="2">Опубліковані</option>
            <option [ngValue]="1">Неопубліковані</option>
            <option [ngValue]="0">Заблаковані</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-1 pr-0">
        <label class="w-100">
          Кількість
          <select (change)="doFiltering()" [(ngModel)]="filter.count" name="count"
                  class="custom-select custom-select-sm form-control form-control-sm">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
        </label>
      </div>
      <div class="col-sm-12 col-md-4">

        <label for="pagination" class="w-100">
          Сторінки <small class="text-muted">({{ filter.lastPage }})</small>
          <div class="pagination" id="pagination">

            <div class="btn-group btn-group-sm special" role="group">

              <button [disabled]="filter.actualPage === 1" class="btn btn-outline-secondary"
                      (click)="filter.goToFirstPage(); doFiltering(false)">
                <i class="fas fa-angle-double-left"></i>
              </button>

              <button
                *ngFor="let page of filter.pageList"
                class="btn"
                [class.btn-outline-secondary]="page !== filter.actualPage"
                [class.btn-primary]="page === filter.actualPage"
                (click)="filter.changePage(page); doFiltering(false)">

                {{ page }}

              </button>

              <button [disabled]="filter.actualPage === filter.lastPage"
                      class="btn btn-outline-secondary"
                      (click)="filter.goToLastPage(); doFiltering(false)">
                <i class="fas fa-angle-double-right"></i>
              </button>

            </div>

          </div>
        </label>

      </div>
    </div>
    <div class="filter-panel-shadow"></div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Іконка</th>
        <th>Статус</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tag of tags; let index = index">
        <td>
          {{ tag.id }}
        </td>
        <td>
          <ul>
            <li *ngFor="let nameLanguage of tag.languages">
              {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
            </li>
          </ul>
        </td>
        <td>
          {{ tag.icon }}
        </td>
        <td>
          <span class="ml-2 badge" [class.badge-success]="tag.status === 2" [class.badge-danger]="tag.status === 1">
            {{ getStatusName(tag.status) }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm btn-secondary" (click)="initSelectedItem(tag)" data-toggle="modal"
                  [attr.data-target]="'#selectedItem-' + id" title="Редагувати">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="selectedItem-{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="selectedItemLabel">{{ selectedItem._isNew ? 'Додавання тегу' : 'Редагування тегу' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="selectedItem.formGroup" class="form-group">

          <label class="d-flex justify-content-between" for="icon">
            <span>Іконка:</span>

            <ng-container
              *ngIf="selectedItem.formGroup.controls['icon'].invalid && (selectedItem.formGroup.controls['icon'].dirty || selectedItem.formGroup.controls['icon'].touched)">

              <small class="text-danger" *ngIf="selectedItem.formGroup.controls['icon'].errors.required">

                Поле не може бути пустим.

              </small>

            </ng-container>

          </label>

          <input class="form-control" id="icon" name="icon" type="text" formControlName="icon"
                 placeholder="Напиши назву іконкі">

          <fieldset formArrayName="languages">

            <div class="row mt-4" *ngFor="let nameLanguage of selectedItem.formGroup.controls.languages['controls']; let index = index">

              <div class="col-4">

                <label class="form-check-label mr-1" for="name_language_code_{{ index }}">
                  Мова
                </label>
                <select class="form-control" id="name_language_code_{{ index }}" name="name_language_code_{{ index }}" [formControl]="nameLanguage.controls['languageCode']">
                  <option *ngFor="let language of appService.languages" [ngValue]="language.code">
                    {{ language.name }}
                  </option>
                </select>

              </div>

              <div class="col-8">


                <label class="form-check-label mr-1" for="name_language_name_{{ index }}">
                  Назва тегу
                </label>
                <input type="text" placeholder="Назва тегу в залежності від мови" class="form-control" id="name_language_name_{{ index }}" name="name_language_name_{{ index }}"
                       [formControl]="nameLanguage.controls['name']">

              </div>

            </div>

          </fieldset>

          <div class="row" *ngIf="!selectedItem._isNew">

            <div class="col-12 mt-4">


              <label class="form-check-label mr-1" for="name_language_name_status">
                Статус
              </label>
              <select id="name_language_name_status" formControlName="status" class="custom-select form-control">
                <option [ngValue]="null">Вибреи статус</option>
                <option [ngValue]="2">Опублікований</option>
                <option [ngValue]="1">Неопублікований</option>
              </select>

            </div>

          </div>

        </form>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button id="app-admin-panel-tags-cancel-button-modal" type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="initSelectedItem()">Відміна</button>
        <button *ngIf="!selectedItem._isNew" type="button" class="btn btn-danger">Видалити</button>
        <button type="button" class="btn btn-success" (click)="saveSelectedTag()">Записати</button>
      </div>
    </div>
  </div>
</div>
