

<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
      </a>
<!--      <a href="">-->
<!--        {{ adminService.titlePage }}-->
<!--      </a>-->
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item hidden-sm-up" [class.m-260px]="adminService.showSidebar">
          <a (click)="adminService.toggleSidebar()" class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small class="phone-hide">{{ authService.user.email }} </small>
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
            <span class="with-arrow"><span class="bg-primary"></span></span>
            <a class="dropdown-item" (click)="logout()" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Вийти</a>
            <a class="dropdown-item" href="/"><i class="fa fa-power-off m-r-5 m-l-5"></i> Повернутись на сайт</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
