<div id="app-admin-panel-cities">
  <!-- DataTales Example -->

  <div class="card shadow mt-4">
    <app-karba-title
      [coreId]="id"
      [pageId]="pageId"
      [loading]="loading"
      (clickOnRefreshBtn)="clickOnRefreshBtn()"
      (clickOnCollapseBtn)="clickOnCollapseBtn()"
      [initHideBody]="initHideBody"
      title="Локалізація"
      [showTotal]="initialized && collapseContent"
      [total]="adminService.filterCity.total">

      <ng-container *ngIf="offerId === null">
      <button class="btn btn-sm btn-primary" (click)="initSelectedItem()" data-toggle="modal"
              [attr.data-target]="'#selectedItem-' + id">
        Додати нову країну
      </button>
      </ng-container>
    </app-karba-title>
    <div class="card-body" [class.collapse]="initHideBody" [class.show]="!initHideBody" id="card-body-{{ id }}">
      <div class="loader d-none">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div [class.filter-panel]="isDesktop" [class.mb-4]="!isDesktop" class="row">
        <div class="col-sm-12 col-md-5">
          <label class="w-100">
            Пошук
            <input class="form-control form-control-sm" type="search" (change)="doFiltering()" [(ngModel)]="adminService.filterCity.search" name="search">
          </label>
        </div>
        <div class="col-sm-12 col-md-4">

          <label for="pagination" class="w-100">
            Сторінки <small class="text-muted">({{ adminService.filterCity.lastPage }})</small>
            <div id="pagination" class="pagination">

              <div class="btn-group btn-group-sm special" role="group">

                <button [disabled]="adminService.filterCity.actualPage === 1" class="btn btn-outline-secondary"
                        (click)="adminService.filterCity.goToFirstPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                  *ngFor="let page of adminService.filterCity.pageList"
                  class="btn"
                  [class.btn-outline-secondary]="page !== adminService.filterCity.actualPage"
                  [class.btn-primary]="page === adminService.filterCity.actualPage"
                  (click)="adminService.filterCity.changePage(page); doFiltering(false)">

                  {{ page }}

                </button>

                <button [disabled]="adminService.filterCity.actualPage === adminService.filterCity.lastPage"
                        class="btn btn-outline-secondary"
                        (click)="adminService.filterCity.goToLastPage(); doFiltering(false)">
                  <i class="fas fa-angle-double-right"></i>
                </button>

              </div>

            </div>
          </label>

        </div>
        <div class="col-md-1">
          <br>
          <button class="btn btn-block btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#selectedItem-' + id">
            <i class="fas fa-filter"></i>
          </button>

        </div>
      </div>
      <ng-container *ngIf="isDesktop; else isNotDesktop">
        <div class="filter-panel-shadow"></div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Тип</th>
            <th>Статус</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let locality of localities; let index = index">
            <td>
              {{ locality.id }}
            </td>
            <td>
              <ul>
                <li *ngFor="let nameLanguage of locality.languages">
                  {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
                </li>
              </ul>
            </td>
            <td>
              <span class="badge badge-dark">
                {{ locality.type }}
              </span>
            </td>
            <td>
              <span class="badge {{ locality.status === 2 ? 'badge-success' : locality.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 2" class="fas fa-check-circle"></i>
                <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 1" class="fas fa-clock"></i>
                <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 0" class="fas fa-lock"></i>
                {{ statusName(locality.status) }}
              </span>
            </td>
            <td>
              <div class="btn-group" role="group">
                <ng-container *ngIf="offerId !== null">
                  <ng-container *ngIf="checkLocalityInOfferLocalityList(locality.id) === null; else isUseLocality">

                    <button class="btn btn-sm btn-success" (click)="useLocalityForOffer(locality.id)">Використовувати</button>
                    <button class="btn btn-sm btn-danger" (click)="useLocalityForOffer(locality.id, false)">Заборонити</button>

                  </ng-container>
                  <ng-template #isUseLocality>

                    {{ checkLocalityInOfferLocalityList(locality.id)?.without === 1 ? 'Заборонений' : 'Використовується' }}
                    <button class="btn btn-sm btn-secondary" (click)="deleteLocalityForOffer(locality.id)">Скинути</button>

                  </ng-template>
                </ng-container>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #isNotDesktop>
        <div class="row">
          <div class="col-md-4">
            <ng-container *ngFor="let locality of localities; let index = index">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    ID: {{ locality.id }}
                  </h4>
                  <div class="card-text">

                    <div>
                      <strong>Назва локалізації: </strong>
                      <ul>
                        <li *ngFor="let nameLanguage of locality.languages">
                          {{ nameLanguage.languageCode }}: <strong>{{ nameLanguage.name }}</strong>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <strong>Тип: </strong>
                      <span class="badge badge-dark">
                        {{ locality.type }}
                      </span>
                    </div>
                    <div>
                      <strong>Статус: </strong>
                      <span class="badge {{ locality.status === 2 ? 'badge-success' : locality.status === 1 ? 'badge-warning' : 'badge-danger' }}">
                      <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 2" class="fas fa-check-circle"></i>
                      <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 1" class="fas fa-clock"></i>
                      <i title="{{ statusName(locality.status) }}" *ngIf="locality.status === 0" class="fas fa-lock"></i>
                      {{ statusName(locality.status) }}
                    </span>
                    </div>
                    <div>
                      <div class="btn-group" role="group">
                        <ng-container *ngIf="offerId !== null">
                          <ng-container *ngIf="checkLocalityInOfferLocalityList(locality.id) === null; else isUseLocality">

                            <button class="btn btn-sm btn-success" (click)="useLocalityForOffer(locality.id)">Використовувати</button>
                            <button class="btn btn-sm btn-danger" (click)="useLocalityForOffer(locality.id, false)">Заборонити</button>

                          </ng-container>
                          <ng-template #isUseLocality>

                            {{ checkLocalityInOfferLocalityList(locality.id)?.without === 1 ? 'Заборонений' : 'Використовується' }}
                            <button class="btn btn-sm btn-secondary" (click)="deleteLocalityForOffer(locality.id)">Скинути</button>

                          </ng-template>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </div>


</div>

<!-- Modal -->
<div class="modal fade" id="modal-filtering-offer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Фільтрування
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-sm-12 col-md-6">
            <label>
              Кількість
              <select (change)="doFiltering()" [(ngModel)]="adminService.filterCity.count" name="count"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12 col-md-6">
            <label>
              Статус
              <select (change)="doFiltering()" [(ngModel)]="adminService.filterCity.status" name="status"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="null">Всі</option>
                <option [ngValue]="2">Опубліковані</option>
                <option [ngValue]="1">Неопубліковані</option>
                <option [ngValue]="0">Заблаковані</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12 col-md-12">
            <label>
              Тип місцевості
              <select (change)="doFiltering()" [(ngModel)]="adminService.filterCity.type" name="type"
                      class="custom-select custom-select-sm form-control form-control-sm">
                <option [ngValue]="undefined || null">Всі</option>
                <option [ngValue]="5">Місто</option>
                <option [ngValue]="6">Регіон</option>
                <option [ngValue]="7">Країна</option>
              </select>
            </label>
          </div>

        </div>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
